<div *ngIf="isLoading" class="flex justify-center items-center h-screen bg-white dark:bg-gray-900 dark:text-white">
    <div class='flex bg-white h-screen justify-center dark:invert items-center space-x-2'>
        <span class='sr-only'>Loading...</span>
        <div class='bg-black h-8 rounded-full w-8 [animation-delay:-0.3s] animate-bounce'></div>
        <div class='bg-black h-8 rounded-full w-8 [animation-delay:-0.15s] animate-bounce'></div>
        <div class='bg-black h-8 rounded-full w-8 animate-bounce'></div>
    </div>
</div>